<div class="container" style="background-image: url('dash.jpg');">
    <div class="left-panel">
        <section>
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-fab extended (click)="onBazaClick()">
                    <mat-icon>storage</mat-icon>
                    BAZA
                  </button>
                </div>
                <br><br>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onAkteriClick()">
                    <mat-icon>person</mat-icon>
                    Akteri
                  </button>
              </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onVozilaClick()">
                    <mat-icon>directions_car</mat-icon>
                    Vozila
                  </button>
                </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onLokacijeClick()">
                    <mat-icon>info</mat-icon>
                    Lokacije
                  </button>
              </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onIncidentiClick()">
                    <mat-icon>warning</mat-icon>
                    Incidenti
                  </button>
              </div>
              </div>
            </div>
          </section>
          <div class="card">
            <h3 class="card-title">Naslov Kartice</h3>
            <p class="card-content">Ovde ide neki opis ili podaci koji treba da se prikažu.</p>
        </div>
    </div>
  
    <div class="center-panel">
      <div class="graph">
        <!-- graf iz baze --->
        
      </div>
    </div>
  
    <div class="right-panel">
        <section>
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="modal" *ngIf="showAddNode">
                  <button class="close-btn" (click)="toggleAddNode()">✖</button>
                  <div class="modal-content">
                    <h2>Dodaj Element</h2>
                    <form (ngSubmit)="addNode()">
                      <label for="elementType">Tip Elementa:</label>
                      <select id="elementType" name="elementType" [(ngModel)]="selectedType" (change)="updateInputFields()">
                        <option value="">Izaberite tip elementa</option>
                        <option *ngFor="let type of nodeTypes" [value]="type">{{ type }}</option>
                      </select>
                
                      <div *ngFor="let field of nodeAttributes; let i = index">
                        <label for="additionalInfo{{i}}">{{ field }}:</label>
                        <input type="text" id="additionalInfo{{i}}" [(ngModel)]="inputFields[i]" [ngModelOptions]="{standalone: true}"/>
                      </div>
                
                      <button type="submit">Dodaj</button>
                    </form>
                  </div>
                </div>  
                <div class="modal" *ngIf="showEditNode">
                  <button class="close-btn" (click)="toggleEditNode()">✖</button>
                  <div class="modal-content">
                    <h2>Izmeni Element</h2>
                    <form (ngSubmit)="editNode()">
                      <label for="elementType">Tip Elementa:
                      <span>{{ selectedType || 'Nema selektovanog tipa' }}</span>
                      </label>
                
                      <div *ngFor="let field of nodeAttributes; let i = index">
                        <label for="additionalInfo{{i}}">{{ field }}:</label>
                        <input type="text" id="additionalInfo{{i}}" [(ngModel)]="inputFields[i]" [ngModelOptions]="{standalone: true}"/>
                      </div>
                      <button type="submit">Izmeni</button>
                    </form>
                  </div>
                </div>
                <!--     
                <div class="example-button-container">
                    <button mat-fab extended (click)="toggleAddNode()">
                        <mat-icon>add</mat-icon>
                        Dodaj Element
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab extended>
                        <mat-icon>link</mat-icon>
                        Kreiraj Vezu
                    </button>
                </div>
                -->   
                <!-- beleskas -->
                <div class="note-container">
                  <textarea class="note-input" placeholder="Unesite belešku..."></textarea>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>
  