<div class="container" style="background-image: url('dash.jpg');">
    <div class="left-panel">
        <section>
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-fab extended (click)="onBazaClick()">
                    <mat-icon>storage</mat-icon>
                    BAZA
                  </button>
                </div>
                <br><br>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onAkteriClick()">
                    <mat-icon>person</mat-icon>
                    Akteri
                  </button>
              </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onVozilaClick()">
                    <mat-icon>directions_car</mat-icon>
                    Vozila
                  </button>
                </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onLokacijeClick()">
                    <mat-icon>info</mat-icon>
                    Lokacije
                  </button>
              </div>
                <div class="example-button-container">
                  <button mat-fab extended (click)="onIncidentiClick()">
                    <mat-icon>warning</mat-icon>
                    Incidenti
                  </button>
              </div>
              </div>
            </div>
          </section>
          <div *ngIf="title !== 'Baza' && selectedNode">
            <div *ngFor="let item of mongoData" class="card">

              <!--
              <button class="edit-btnMongo" (click)="onEditMongo()" title="Izmeni">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
              </button>
            -->

              <h3 class="card-title">
                {{ item.dosijeId || item.opisVozilaId || item.tokDesavanjaId || item.opisLokacijeId || 'Detalji' }}
              </h3>

              <ng-container *ngIf="item.jmbg">
                <p><strong>JMBG:</strong> {{ item.jmbg }}</p>
                <p><strong>Dosije:</strong> {{ item.dosije || 'Nema dosijea' }}</p>
              </ng-container>

              <ng-container *ngIf="item.id">
                <p><strong>Opis:</strong> {{ item.opis || item.tok || 'Nema opisa' }}</p>
              </ng-container>

              
              <div *ngIf="item.slika">
                <h4>Slika:</h4>
                <div class="slike-container">
                  <img
                    [src]="'http://localhost:3000/uploads/' + item.slika"
                    alt="Slika"
                    class="slika"
                  />
                </div>
              </div>
            </div>
          </div>
    </div>
  
    <div class="center-panel">
      <div class="graph">
        <!-- graf iz baze --->
        
      </div>
    </div>
  
    <div class="right-panel">
        <section>
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="modal" *ngIf="showAddNode">
                  <button class="close-btn" (click)="toggleAddNode()">✖</button>
                  <div class="modal-content">
                    <h2>Dodaj Element</h2>
                    <form (ngSubmit)="addNode()">
                      <label for="elementType">Tip Elementa:</label>
                      <select id="elementType" name="elementType" [(ngModel)]="selectedType" (change)="updateInputFields()">
                        <option value="">Izaberite tip elementa</option>
                        <option *ngFor="let type of nodeTypes" [value]="type">{{ type }}</option>
                      </select>
                
                      <div *ngFor="let field of nodeAttributes; let i = index">
                        <label for="additionalInfo{{i}}">{{ field }}:</label>
                        <input type="text" id="additionalInfo{{i}}" [(ngModel)]="inputFields[i]" [ngModelOptions]="{standalone: true}"/>
                      </div>
                
                      <button type="submit">Dodaj</button>
                    </form>
                  </div>
                </div>  
                <div class="modal" *ngIf="showEditNode">
                  <button class="close-btn" (click)="toggleEditNode()">✖</button>
                  <div class="modal-content">
                    <h2>Izmeni Element</h2>
                    <form (ngSubmit)="editNode()">
                      <label for="elementType">Tip Elementa:
                      <span>{{ selectedType || 'Nema selektovanog tipa' }}</span>
                      </label>
                
                      <div *ngFor="let field of nodeAttributes; let i = index">
                        <label for="additionalInfo{{i}}">{{ field }}:</label>
                        <input type="text" id="additionalInfo{{i}}" [(ngModel)]="inputFields[i]" [ngModelOptions]="{standalone: true}"/>
                      </div>
                      <button type="submit">Izmeni</button>
                    </form>
                  </div>
                </div>
                <!--     
                <div class="example-button-container">
                    <button mat-fab extended (click)="toggleAddNode()">
                        <mat-icon>add</mat-icon>
                        Dodaj Element
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab extended>
                        <mat-icon>link</mat-icon>
                        Kreiraj Vezu
                    </button>
                </div>
                -->   
                <!-- beleskas -->
                  <div *ngIf="title !== 'Baza' && selectedNode">
                    <div class="note-container">
                      <textarea class="note-input" [(ngModel)]="opis" placeholder="Unesite dosije/opis..." [disabled]="!(isEditing || addOpis)" ></textarea>
                    </div>
                    <div class="upload-container">
                      <input type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="!(isEditing || addOpis)" />
                      <div class="button-row">
                        <button (click)="onEditMongo()" [disabled]="!(isEditing)">EDIT</button>
                        <button (click)="onSaveMongo()" [disabled]="!(addOpis)">SAVE</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
    </div>
</div>
  