.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .left-panel, .right-panel {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    align-items: center;
  }
  
  .left-panel {
    align-items: center;
  }
  
  .incident-btn, .action-btn {
    padding: 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Svi dugmici su iste širine */
  }
  
  .incident-btn {
    background-color: #4CAF50;
  }
  
  .incident-btn:hover {
    background-color: #45a049;
  }
  
  .action-btn {
    background-color: #007BFF;
  }
  
  .action-btn:hover {
    background-color: #0056b3;
  }
  
  .center-panel {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .graph {
    width: 100%;
    height:100%; /* Povećaj visinu po potrebi */
    background-color: #ccc; /* Sivi pozadinski color za graf */
  }
  

  .right-panel {
    justify-content: center;
    height: 100%;
  }

 //////////////////////////////////// LEVA STRANA 
  section {
    display: table;
    text-align: center;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 200px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }
  
  