<div class="modal">
    <div class="modal-content">
      <h2>Dodaj Element</h2>
      <form (ngSubmit)="onAdd()">
        <label for="elementType">Tip Elementa:</label>
        <select id="elementType" [(ngModel)]="elementType" name="elementType">
          <option value="">Izaberite tip elementa</option>
          <option value="Tip 1">Tip 1</option>
          <option value="Tip 2">Tip 2</option>
          <option value="Tip 3">Tip 3</option>
        </select>
  
        <label for="additionalInfo">Dodatne Informacije:</label>
        <input type="text" id="additionalInfo" [(ngModel)]="additionalInfo" name="additionalInfo" />
  
        <button type="submit">Dodaj</button>
      </form>
    </div>
  </div>
  